.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.container > .link {
    width: 100%;
    margin: 14px;
    text-align: center;
    line-height: 55px;
    font-size: 19px;
}

.container > .link a {
    text-decoration: none;
    color: rgb(52, 32, 165);
}