<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aura - 404</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='slider.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="slider">
        <h1>Not Found</h1>
        <h1>Volte para a <a href="{{ url_for('home.homepage') }}" >Home</a></h1>
    </div>
</body>
</html>